.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 25px;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    
}
.main {
    height: 400px;
    width: 680px;
    background-color: red;
    padding: 20px;
    margin-left: 25px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-right : 10px;
}
#advertisement {
    height: 120px;
    width: 659px;
    background-color: purple;
    margin-top: 30px;
}
.main,.side-nav{
    display: inline-block;
    margin-top: 20px;
    vertical-align:top;
    
}
